
/*头部*/

.head {
	height: 43px;
	background: white;
	padding: 0px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
	width: 100%;
}

.head3 {
	text-align: center;
	line-height: 43px;
}

.am-u-sm-2 {
	padding: 0;
	font-size: 14px;
	color: #666666;
}

.am-u-sm-2 a {
	color: #666666;
}

.head_img {
	margin-top: -2px;
	padding-right: 20px;
}

.head_img2 {
	margin-top: -2px;
}
.hd1{
	padding-left: 35px;
}
.hd1 a {
	color: #333333;
	font-size: 18px;
}


/*-------------头部-----------------*/

/*个人信息*/
.Headportrait{	
	color: #999999;
	padding: 7px 20px;
	border-bottom: 1px solid #F0F0F0;
}
.Headportrait02{	
	color: #333;
	padding: 14px 20px;
	border-bottom: 1px solid #F0F0F0;
}
.Headportrait03{	
	color: #333;
	padding: 14px 20px;
	border-bottom: 10px solid #F0F0F0;
}
.Headportrait04{	
	color: #333;
	padding: 14px 20px;
	border-bottom: 300px solid #F0F0F0;
}
.img2{
	margin-top: -2.5px;
}
.Headportrait3{
	padding-top: 15px;
}
.Headportrait5{
	color: #999999;
}

/*个人信息*/

