@charset "utf-8";

/*公共类*/

.body1 {
	background-color: #f6f6f6;
}

.trans3 {
	-webkit-transition: all 0.4s ease-in;
	-moz-transition: all 0.4s ease-in;
	-ms-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
}

.trans5 {
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 1s ease-in;
	-ms-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
}

.trans4 {
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.trans2 {
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clear {
	clear: both;
}

.relative {
	position: relative;
}

.container {
	width: 1180px;
	margin: 0 auto;
}


/*公共类*/


/*标题*/

._bt {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background-color: white;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	z-index: 99999999999999;
}

.bt_one {
	margin-top: 90px;
}

.bt_one_two {
	height: 32px;
}

.nav_a {
	margin: 0 0px 0px 46px;
	margin-top: 5px;
	margin-bottom: 32.6px;
}

.nav_b {
	margin-top: 5px;
	margin-bottom: 32.6px;
	font-family: 微软雅黑;
}

.nav_b a:hover {
	text-decoration: none;
	color: #1E1E1E;
}

.nav_a a {
	font-size: 15px;
	color: #8e8e8e;
	font-family: 微软雅黑;
}

.nav_a a:hover {
	font-size: 15px;
	color: #1E1E1E;
	text-decoration: none;
}

.nav_b a {
	font-size: 15px;
	color: #8e8e8e;
}

.nav_a a i {
	font-size: 15px;
	margin-left: 4px;
	color: #9E9E9E;
}
.nav_c{
	font-size: 10px;
	margin-top: 5px;
	margin-right: 40px;
}
.nav .nav_c a{
	font-size: 15px;
	color: #8e8e8e;
	text-decoration: none;
}
.nav .nav_c:hover a{
	font-size: 15px;
	color: #1E1E1E;
	text-decoration: none;
}
.nav .nav_d{
	margin-top: 5px;
	margin-left: 40px;
}

.nav .nav_d a{
	color: #1E1E1E;
	font-size: 15px;
	text-decoration: none;
}

/*标题*/

.yyy {
	height: 230px;
}
._yyy{
	 margin-bottom: 100px;
}

/*图片*/

._c,
._c2,
._c3,
._c4,
._c5,
._c6,
._c7,
._c8,
._c9,
._c10,
._c11,
._c12{
	color: #444;
	font-size: 13px;
	margin-bottom: -20px;
	font-family: 微软雅黑;
	color: #8b8b8f;
}

._d,
._d2,
._d3,
._d4,
._d5,
._d6,
._d7,
._d8,
._d9,
._d10,
._d11,
._d12{
	width: 300px;
	height: 221px;
	margin-right: 10px;
}

.swiper-slide{
	margin-bottom: 30px;
}


.swiper-slide:hover img {
	-webkit-transform: scale(0.97);
	-moz-transform: scale(0.97);
	-ms-transform: scale(0.97);
	-o-transform: scale(0.97);
	transform: scale(0.97);
}
._fr{
	width: 930px;
}


.one{
	margin-top: 500px;
	margin-bottom: 50px;
	margin: 0 auto;
	width: 40px;
	height: 35px;
	background-color: #444444;
	color: white;
	text-align: center;
	line-height: 35px;
}

._bot{
	background-color: white;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.20);
}
.bot{
	margin-top: 150px;
	height: 100px;
	line-height: 100px;
	
}


.dh{
	position: fixed;
	width: 200px;
	left: 130px;
	top: 230px;
}
.dh_one{
	height: 3px;
	background-color: #969696;
	width: 190px;
}
.dh_two{
	margin-left: 40px;
	margin-top: 30px;
}
.dh_two ._dh_two{
	color: #404040;
	text-decoration:none;
}
.dh_three{
	margin-left: 40px;
	margin-top: 12px;
}
.dh_three ._dh_three{
	color: #848484;
	text-decoration:none;
}
.dh_one_two{
	height: 1px;
	width: 190px;
	background-color: #dddddd;
	margin-top: 30px;
}



/*观点*/

.img2 {
	width: 840px;
	height: 160px;
}

.img3 {
	width: 840px;
	height: 160px;
}

.viewpoint2,
.viewpoint3,
.viewpoint4,
.viewpoint5 {
	margin-top: 50px;
	margin-bottom: 50px;
}


.viewpoint_one_two {
	width: 40px;
	height: 0.1px;
	background-color: #B9B9B9;
	margin-left: 30px;
	margin-right: 30px;
}

.viewpoint_one_two_two,
.viewpoint_one_two_two3,
.viewpoint_one_two_two5,
.viewpoint_one_two_two6 {
	width: 40px;
	height: 0px;
	background-color: #B9B9B9;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 10px;
}

.viewpoint_one {
	margin-top: 30px;
}

.viewpoint_one2 {
	margin-top: 30px;
}
.viewpoint_one3 {
	margin-top: 30px;
}
.viewpoint_one5 {
	margin-top: 30px;
}
.viewpoint_one6 {
	margin-top: 30px;
}

.viewpoint_one_three_one {
	font-size: 15px;
	margin-bottom: 10px;
	font-family: 微软雅黑;
}

.viewpoint_one_three_two {
	font-family: 微软雅黑;
	margin-top: 25px;
}

.shang {
	margin-top: 10px;
	opacity: 0;
}

.shang2 {
	margin-top: 10px;
	opacity: 0;
}


/*观点*/






.viewpoint3{
    z-index: 113;
    transform: translate3d(0, 0, 150px);
    -ms-transform: translate3d(0, 150px, 0);
    -webkit-transform: translate3d(0, 150px, 0);
    -o-transform: translate3d(0, 150px, 0);
    -moz-transform: translate3d(0, 150px, 0);
    opacity: 0;
    transition: transform 1s ease 0s, opacity 3s ease 0s;
    -moz-transition: -moz-transform 1s ease 0s, opacity 3s ease 0s;
    -webkit-transition: -webkit-transform 1s ease 0s, opacity 3s ease 0s;
    -o-transition: -o-transform 1s ease 0s, opacity 3s ease 0s;
    -ms-transition: -ms-transform 1s ease 0s, opacity 3s ease 0s;
}
.viewpoint4{
    z-index: 113;
    transform: translate3d(0, 0, 0px);
    -ms-transform: translate3d(0, 300px, 0);
    -webkit-transform: translate3d(0, 300px, 0);
    -o-transform: translate3d(0, 300px, 0);
    -moz-transform: translate3d(0, 300px, 0);
    opacity: 0;
    transition: transform 1s ease 0s, opacity 3s ease 0s;
    -moz-transition: -moz-transform 1s ease 0s, opacity 3s ease 0s;
    -webkit-transition: -webkit-transform 1s ease 0s, opacity 3s ease 0s;
    -o-transition: -o-transform 1s ease 0s, opacity 3s ease 0s;
    -ms-transition: -ms-transform 1s ease 0s, opacity 3s ease 0s;
}

.viewpoint5{
    z-index: 113;
    transform: translate3d(50px, 200px, 0);
    opacity: 0;
    transition: transform 1.2s ease 0s, opacity 2s ease 0s;
   
}



.service{
    z-index: 113;
    transform: translate3d(300px, 0px, 0);
     transform: translate3d(300px, 0px, 0);
    -ms-transform: translate3d(300px, 0px, 0);
    -webkit-transform: translate3d(300px, 0px, 0);
    -o-transform: translate3d(300px, 0px, 0);
    -moz-transform: translate3d(300px, 0px, 0);
    opacity: 0;
    transition: transform 1s ease 0s, opacity 2s ease 0s;
    -moz-transition: -moz-transform 1s ease 0s, opacity 2s ease 0s;
    -webkit-transition: -webkit-transform 1s ease 0s, opacity 2s ease 0s;
    -o-transition: -o-transform 1s ease 0s, opacity 2s ease 0s;
    -ms-transition: -ms-transform 1s ease 0s, opacity 2s ease 0s;
}
.service2{
    z-index: 113;
    transform: translate3d(0px, 300px, 0);
     -ms-transform: translate3d(0px, 300px, 0);
    -webkit-transform: translate3d(0px, 300px, 0);
    -o-transform: translate3d(0px, 300px, 0);
    -moz-transform: translate3d(0px, 300px, 0);
    opacity: 0;
    transition: transform 1s ease 0s, opacity 2s ease 0s;
    -moz-transition: -moz-transform 1s ease 0s, opacity 2s ease 0s;
    -webkit-transition: -webkit-transform 1s ease 0s, opacity 2s ease 0s;
    -o-transition: -o-transform 1s ease 0s, opacity 2s ease 0s;
    -ms-transition: -ms-transform 1s ease 0s, opacity 2s ease 0s;
}